@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* ------------------------------------ CONFIGURAÇÃO DO DOCUMENTO --------------------------------- */

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    color: inherit;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}


/* ------------------------------------------ HEADER --------------------------------------------- */

header {
    height: 8.56vh;
    grid-column: 1/2;
    grid-row: 1/2;
}

header>nav {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1rem;
}

header>nav>a {
    display: flex;
}

.logo-labescola {
    height: 1.5rem;
    align-self: center;
}

header>nav>ul {
    display: flex;
    gap: 2.5vw;
    margin-left: 40vw;
    align-items: center;
}

.menu-header {
    font-size: 0.8em;
}


/* ------------------------------------------ FOOTER --------------------------------------------- */

footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    justify-items: center;
    row-gap: 1vh;
    background-color: #F6C34A;
    border-top: 1px solid #0E0E0E;
}

footer>figure {
    grid-row: 1/2;
    grid-column: 1/2;
    width: 80%;
    height: 6vh;
    align-self: flex-end;
}

.logo-labescola-footer {
    width: 7vw;
}

.container-footer {
    grid-template-columns: 1/2;
    grid-row: 2/3;
    width: 80%;
    height: 95%;
    display: flex;
    justify-content: space-between;
}

.container-footer>div>h6 {
    margin-bottom: 1vh;
}

.mapa {
    width: 80%;
    height: 75%;
    border: 1px solid #0E0E0E;
    margin-bottom: 0.15rem;
}

.endereco>p {
    font-size: 0.5em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.menu-links {
    display: flex;
    flex-direction: column;
    gap: 0.15rem;
    font-size: 0.5em;
    font-weight: 400;
}

.menu-redes-sociais {
    display: flex;
    gap: 0.45rem;
}

.menu-redes-sociais>li>a>img {
    width: 1.5vw;
}

.menu-area-restrita {
    display: flex;
    flex-direction: column;
    gap: 0.15rem;
    font-size: 0.5em;
    font-weight: 400;
}


/* --------------------------------------------- Conteúdo central ADM -------------------------------------- */

.conteudo-central {
    height: 80vh;
    display: flex;
    background-color: #F6C34A;
}