body {
    height: 170vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 8.56vh 80vh 42.24vh;
}

.container {
    display: flex;
    background-color: burlywood;
}

.barra-lateral {
    background-color: blue;
    justify-self: flex-end;
    height: 80vh;
    width: 20vw;
}

.pesquisar {
    background-color: lightseagreen;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 4vh;
}

#caixa-busca {
    width: 20%;
}

.cursos {
    background-color: cadetblue;
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8vh;
}

.cards {
    background-color: blueviolet;
    width: 50vw;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    column-gap: 2vh;
    row-gap: 2vh;
}

.card {
    height: 25vh;
    width: 100%;
    background-color: #fbfbfb;
    display: flex;
    flex-direction: column;
    padding: 2vh;
    gap: 1vh;
    font-size: 0.7em;
}

.card>h4 {
    font-size: initial;
    font-weight: 700;
    align-self: center;
}

.card>ul>li {
    font-weight: 400;
}

.titulo {
    font-weight: 700;
}