body {
    width: 100vw;
    height: 160vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 8.56vh 109.20vh 42.24vh;
}

main {
    display: flex;
    flex-direction: column;
    grid-column: 1/2;
    grid-row: 2/3;
}

.container-parte-1 {
    position: relative;
    height: 60.78vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F6C34A;
}

.cards {
    display: flex;
    gap: 15vw;
}

.cards>div {
    background-color: #fbfbfb;
    height: 30vh;
    width: 12vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.3em;
    margin-top: 6vh;
}

.cards>div>h4 {
    margin-top: 2vh;
    margin-bottom: 3vh;
}

.cards>div>p {
    font-size: 0.5em;
    margin: 0 0.9vw 0.9vw 0.9vw;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.container-parte-1>a {
    color: #fbfbfb;
    margin-top: 7vh;
    padding: 0.8vh 4vw;
    background-color: #0E0E0E;
    border-radius: 0.3em;
}

.logo-suspnso-whatsapp {
    position: fixed;
    top: 48vh;
    right: 3.5vw;
}

.logo-suspnso-whatsapp>a>img {
    width: 2.5vw;
}

.container-parte-2 {
    height: 61.42vh;
    background-color: #0E0E0E;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
}

.curso {
    height: 13.86vh;
    width: 39vw;
    background-color: #fbfbfb;
    display: flex;
    gap: 5vw;
    border-radius: 0.3em;
    align-items: center;
}

.curso>h4 {
    display: flex;
    align-items: center;
    margin-left: 2vw;
}

.modulo>h6 {
    margin-bottom: 1vh;
}

.conteudo-modulo>li {
    font-size: 0.4em;
}