body {
    height: 170vh;
    width: 98.785vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 8.56vh 80vh 42.24vh;
}

.container {
    display: flex;
    background-color: #F6C34A;
}

.menu-lateral {
    color: #FFFFFF;
    background-color: #0E0E0E;
    height: 80vh;
    width: 20vw;
}

.menu-lateral>ul {
    margin-top: 6vh;
    margin-left: 5vw;
}

.menu-lateral>ul>li {
    margin-bottom: 2vh;
}

.menu-lateral>ul>li>a {
    font-size: 0.75em;
}

.menu-lateral>ul>li:nth-child(2) {
    text-shadow: 0 0 4px #fff;
}

.area-matricula {
    display: flex;
    padding-left: 10vw;
    gap: 25vw;
    padding-top: 4vh;
}

.matricula {
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
}

.matricula>p {
    font-size: 0.85em;
}

.titulo-imagem>p {
    font-size: 0.85em;
}

.matricula>form>label {
    font-size: 0.7em;
    display: block;
}

.matricula>form>input, select {
    height: 2em;
    width: 22vw;
    outline: none;
    border: none;
    border-radius: 0.2em;
    padding-left: 0.5vw;
  
}

#btn-matricular {
    display: block;
    width: 22vw;
    height: 5vh;
    margin-top: 3vh;
    border: none;
    border-radius: 0.2em;
    color: #FFFFFF;
    background-color: #0E0E0E;
}

.status-matricula-off {
    display: none;
}

.status-matricula {
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.titulo-imagem {
    display: flex;
    align-items: center;
    gap: 1vw;
}

.titulo-imagem>img {
    width: 1.2vw;
    height: 1.2vw;
}

.listar-dados-aluno>li {
    font-weight: 400;
    font-size: 0.8em;
}