body {
    height: 170vh;
    width: 98.785vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 8.56vh 80vh 42.24vh;
}

.container {
    display: flex;
    background-color: #F6C34A;
}

.menu-lateral {
    color: #FFFFFF;
    background-color: #0E0E0E;
    height: 80vh;
    width: 20vw;
}

.menu-lateral>ul {
    margin-top: 6vh;
    margin-left: 5vw;
}

.menu-lateral>ul>li {
    margin-bottom: 2vh;
}

.menu-lateral>ul>li>a {
    font-size: 0.75em;
}

.menu-lateral>ul>li:nth-child(1) {
    text-shadow: 0 0 4px #fff;
}

.cursos {
    height: 80vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8vh;
}

.pesquisar {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 4vh;
    margin-top: 7vh;
}

#caixa-busca {
    width: 20%;
    outline: none;
    border-top-left-radius: 0.2em;
    border-bottom-left-radius: 0.2em;
    border: none;
    padding-left: 0.5vw;
    font-size: 0.75em;
    font-family: 'Open Sans';
}

#btn-buscar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6%;
    background-color: #0E0E0E;
    color: #FFFFFF;
    border-top-right-radius: 0.2em;
    border-bottom-right-radius: 0.2em;
}

#btn-buscar:hover {
    cursor: pointer;
}

#cards {
    width: 52vw;
    display: grid;
    grid-template-columns: repeat(4, 23%);
    column-gap: 2vh;
    row-gap: 2vh;
    justify-content: center;
}

.card {
    height: 25vh;
    width: 100%;
    background-color: #fbfbfb;
    display: flex;
    flex-direction: column;
    padding: 2vh;
    gap: 1vh;
    font-size: 0.7em;
    border-radius: 0.7em;
}

.card>h4 {
    font-size: initial;
    font-weight: 700;
    align-self: center;
}

.card>ul>li {
    font-weight: 400;
}

.titulo {
    font-weight: 700;
}

#aluno-nao-encontrado {
    color: crimson;
    font-size: 2rem;
}